*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(40px);
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    margin-bottom: 20px;
    z-index: 300;
}
.menu-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
}
.menu-left li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}
.menu-left li:hover{
    border-radius: 10px;
    background-color: #28313A;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.menu-left li svg{
    width: 20px;
    text-align: center;
}
.sub{
    display: none;
}
.app{
    display: none;
}
.app1{
    display: none;
}
.app2{
    display: none;
}
#webinars{
    list-style: none;
    color: white;
    margin-left: 20px;
}
.active{
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    color: white;
    width: 80vw;
    z-index: 300;
}
.menu-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu-right span{
    font-size: 18px;
}
.menu-right li{
    color: white;
    list-style: none;
    font-size: 18px;
    margin: 5px;
    padding: 10px;
    font-weight: 500;
}
.menu-right-button {
    width: 10vw;
    height: 60px;
    /* margin-top: 5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px  darkgray;
    background: linear-gradient(to left, rgb(80, 185, 234) 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: left;
    border-radius: 10px;
    z-index: 5;
    position: relative;
    transition: background-position 350ms ease, color 350ms ease;
}

.menu-right-button:hover {
    background-position: right;
     /* Change to your desired text color on hover */
}

.menu-right-button  svg {
   color: rgb(11, 10, 10);
   height: 40px;
   width: 60px;
   border: 2px solid red;
   /* margin-left: 5px; */
   background-color: rgb(80, 185, 234);
   border-radius: 10px;
   padding: 10px;
}
/* .menu-right-button{
    width: 100px;
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 36, 36);
    gap: 10px;
} */
/* .wrapper{
    width: 80px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
    background-color: rgb(39, 36, 36);
    gap: 10px;
  } */
.menu-right-button span{
    color: white;
}

.wrapper svg{
    width: 25px;
    border-radius: 5px;
    background-color: rgb(13, 187, 240);
    display: flex;
    transition-duration: 2.5s;
}
.btn-pink {
    background-color: rgb(52, 49, 49);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #2b2a2a3f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.75rem;
    font-weight: 500;
    position: relative;
    width: 160px;
    /* margin-top: 10px; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 10px;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #15bde3;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    color:black;
    /* border-radius: 0.75rem; */
  }
  .btn-pink svg:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
   
}

.ul-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* align-items: self-start; */
    /* gap: 20px; */
}
.menu-right li:hover{
    /* background-color: darkgray; */
    /* color: black; */
    cursor: pointer;
}
.sub-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 10vw;
    /* margin-left: 10px; */
}
.sub-list li a {
    list-style: none;
}
.sub-list a:hover{
  background-color: darkgray;
}

.bar1 , .bar2 , .bar3{
    background-color:#fff;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}
 .hamburger{
    display: none;
    margin-right: 20px;
}

.mobileNav{
    width: 80px;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0;
    right: -160px;
    padding: 16px;
    transition: transform 0.3s;
}

.mobileNav img{
    width: 24px;
    height: 24px;
}
.openDrawer{
    transform: translateX(-160px);
}
.mobileNav a{
    text-decoration: none;
    color: black;
    margin: 16px 0;
}
.mobileNav a:hover{
    text-decoration: underline;
}
.bar1 , .bar2 , .bar3{
    background-color: #fff;
    height: 4px;
    width: 36px;
    margin: 3px;
    border-radius: 10px;
}



@media only screen and (max-width:1024px) {
    .menu-left {
        width: 35vw;
    }
    .menu-left li{
        list-style: none;
        margin: 5px;
        padding: 10px;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 15px;
    }
    .menu-right li{
        color: white;
        list-style: none;
        font-size: 15px;
        margin: 5px;
        padding: 10px;
    }
    .video{
        width: 70vw;
        box-sizing: content-box;
    }
}
@media only screen and (max-width:768px) {
    .menu-left {
        display: none;
    }
   .hamburger {
        display: flex;
        flex-direction: column;
    }
    .menu-right li{
        color: white;
        list-style: none;
        font-size: 18px;
        margin: 5px;
        padding: 10px;
    }
    .video{
        width: 70vw;
        box-sizing: content-box;
    }
    .animateBar1{
        animation: flipBar1 0.5s;
        animation-fill-mode: forwards;
    }
    .animateBar2{
        animation: fadeBar2 0.5s;
        animation-fill-mode: forwards;
    }
    .animateBar3{
        animation: flipBar3 0.5s;
        animation-fill-mode: forwards;
    }

    @keyframes flipBar1 {
        from{
            transform: rotate(0);
        }to{
            transform: rotate(45deg) translate(4px , 10px);
        }
    }
    @keyframes fadeBar2 {
        from{
            transform: scaleX(1);
            opacity : 1;
        }to{
            transform: scaleX(0);
            opacity : 0;
        }
    }
    @keyframes flipBar3 {
        from{
            transform: rotate(0);
        }to{
            transform: rotate(-45deg) translate(4px , -10px);
        }
    }
}


.image_navbar{
    width: 300px;
    height: 300px;
    margin-left: 450px;
}