*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(10 14 18);
    overflow-x: hidden;
    font-weight: 500;
    font-family: ABCRepro-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0,0,0,.1);
    backdrop-filter: blur(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    /* border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; */
}
.container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: center;
}
.logo {
    cursor: pointer;
    padding: 0px 5px 5px 15vw;
}

.left-nav {
    display: flex; 
    justify-content: space-between;

} 

.nav-button{ 
    margin-right: 10px;
    color: white;
    cursor: pointer;
    font-size: 16px;
} 

a {
    color: white;
    text-decoration: none;
    color: white;
} 

.nav-button_left{
    color: white;
    font-size: 16px;
    cursor: pointer;
}


.right_nav {
    display: flex;
    justify-content: space-between;
} 

/* .nav_spans {
   
} */


/* .right_nav_spans {
    display: flex;
}  */

/*  eplore box */

.explore-box {
    
    width: 100vw;
    /* border: 2px solid rebeccapurple; */
    margin-top: 120px;
    /* background-color: red; */
}

.inside-explorbox {
    height: 136px;
    width: 92vw;
    margin-left: 40px;
    /* margin: 0px 225px; */
    /* border: 2px solid rebeccapurple; */

    /* background-color: rgb(255, 255, 255); */
}
.explorbox-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 103px;
    width: 1324px;
    margin: 16px 0px 0px 71px;
    padding: 24px 0px 24px 0px;
    border-radius: 24px;
    background-color: #141A20;

}
.content-in_exp-bg {
    height: 55px;
    width: 1209px;
    min-width: auto;
    min-width: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    /* background-color: red; */
}

.content-in_exp-bg span {
    font-size: 20px;
    color: white;
}


.ex-button {
    margin: 0px 50px 0px 0px;
    height: 55px;
    width: 200px;
    min-width: auto;
    min-width: auto;

    /* background-color: #fff; */
}

.ex-button_design{
    height: 55px;
    width: 166px;
    margin: 0px  48px 0px 0px;
    padding: 15px 20px  ;
    border-radius: 15px;
    
    background-color: #0A0E12;
}

.ex-button_design .wording {
    height: 25px;
    width: 62px;
    display: flex;
    justify-content: space-between;
    /* margin: 15px; */
}
.wording span {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.wording span i {
    padding: 2px 18px;
}

.ex-smallbox {
    height: 27px;
    width: 47px;
    padding: 4px 14px 4px 14px;
    
}


/* main */


.main {

    width: 100vw;
    height: 81vh;

    /* background-color: red; */
}


.video-container{
    width: 95%;
    height: 80vh;

    /* margin: 0px 293px; */

    margin-left: 110px;
}

.vid{
    z-index: 1;
    width: 90%;
    height: 90%;
    border-radius: 1.5rem; 
    object-position: center;
    object-fit: cover;
    margin: 0p 0px;
    box-shadow: 0 8px 90px rgba(239, 235, 235, 0.2);
}

.heading_video {
    margin: -450px 26px;
}

.heading-down_btn {
    width: 1209px;
}

.heading_video span{
    font-size: 120px;
    color: white;
    /* font-size: ; */
    font: bold;
}
.para_video{
    min-height: auto ;
    min-width: auto;
    width: 460px;
    height: 56px;
    margin-top: 6px;
}

.para_video span {
    color: #F1F5F9;
    text-align: left;
    font: normal;
    font-size: 20px;
}

/* button inside of video */
/* remain to rigting the part  */

/* <!-- semojis catogiries --> */
.container-emoji {
    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.emoji{
    display: flex;
    flex-direction: row;
    
    /* border: 2px solid red; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    /* margin-left: 60px; */
    margin-top: 76px;
    gap: 100px;
}

.emoji-div{
    /* height: 340px;
    width: 319px; */
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
}

.emoji-svg{
    color: white;
    margin-left: 70px;
}


.emoji-container_title{
    
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -1.28px;
    color: white;
    margin-left: 70px;
    margin-top: 70px;
}
.emoji_para{
    width: 10vw;
    height: 20vh;
    color: #D1D9E1;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 17px;
}

.section_scroll {
    height: 3665px;
    width: 1903px;
    /* margin: 56px 0px 96px 0px; */
    /* border: 2px solid red; */
}

.inside_section_scroll{
    
    display: flex;
    flex-direction: column;
    height: 3812px;
    width: 1440px;
    max-width: 1440px;
    /* margin: 0px 232px 0px 232px; */
    margin-left: 30px;

    /* background-color: rgb(129, 129, 129); */
}

.text_box_section{
    /* position: absolute; */
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 911px;
    width: 384px;
    padding: 194px 56px 0px 56px;
    min-height: auto;
    min-width: auto;
    /* background-color: aqua; */
    /* for texting background color given */

}

.text_box_section h1 {
    /* position: absolute; */
    /* z-index: 2; */
    color: white;
    height: 148px;
    width: 272px;
    padding: 0px 0px 16px 0px;
    font-size: 160px;
    font-weight: 500;
    text-decoration: none solid rgb(250,252,253);
    text-align: left;
    line-height: 148px;
}

.para_text_box {

    height: 194px;
    width: 272px;
    margin: 25px 0px 0px 0px;
    box-sizing: border-box;
    /* for textting  */
    /* background: red; */
}
.para_text_box p {

    color: white;
    font-size: 18px;
    text-align: left;
    letter-spacing: -.0.54px;
}


.sticky-video{
    position: sticky;
    display: block;
    top: 32px;
    height: 860px;
    width: 100%;
    margin: -3593px 0px 183px 504px;
    padding: 0px 114px 0px 0px;
    min-height: auto;
    max-width: 1171px;
    min-width: auto;
}


.inside_sticky-video {
    display: block;
    height: 819px;
    width: 1171px;
    /* background-color: red; */
    
}

.inside_sticky-video video {
    width: 64.9vw;
    height: 80vh;
}


.sticky-vid {
    position: relative;
    z-index: -10;
    border-radius: 1.5rem; 
    object-position: center;
    object-fit: cover;
    margin-left: -50px;
    margin-top: 72px;
    box-shadow: 0 20px 90px rgba(255, 255, 255, 0.2)
}




/*  */
/* 
.video-container{
    width: 76.9vw;
    height: 80vh;
}

.vid{
    position: relative;
    z-index: 1;
    display: inline;
    width: 90%;
    height: 90%;
    border-radius: 1.5rem; 
    object-position: center;
    object-fit: cover;
    margin-left: 70px;
    margin-top: 30px;

}
 */

/*  */










.slider_container{
    height: 246px;
    width: 1903px;
    padding: 96px 125px 96px 125px;
   

    /* background-color: purple; */
}

.slider_pannel{
    height: 54px;
    width: 1440px;
    margin: 0px 107px 0px 107px;
    padding: 0px 34px 0px 34px;
    min-height: auto;
    max-width: 1440px;
    min-width: auto;
    overflow: hidden;
    margin: 10;
    padding: 10px;
    /* background-color: rgb(107, 114, 1); */
}

/* .inside_slider {
    
} */

.slider_img {
    margin: 0px 50px;
    display: flex;
    justify-items: space-between;
    align-items: center;
}

.section_exp {
    height: 992px;
    width: 1903px;
}

.inside_section_exp {
    height: 992px;
    width: 1440px;
    /* margin: 0px 232px 0px 232px; */
    padding: 0px 0px 64px;
    max-width: 1440px;
    min-width: 375px;
}

.title-box- {
    
    height: 266px;
    width: 1440px;
    padding: 96px 0 72px 0px;
}


.inside_titleBox{
    height: 98px;
    width: 1324px 8px;
    /* background-color:black; */
    margin: 0px 107px 0px 107px;
    padding: 0px 34px 0px 34px;
    min-height: auto;
    max-width: 1440px;
    min-width: auto;
    margin: 10;
    padding: 10px;
}

.title_text_small {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_text_small span {
    height: 24px;
    width: 748px;
    font-size: 24px;
    color: #D1D9E1;
    height: 50px;
    text-align: center;
    animation: title 1s cubic-bezier(.33,0,.25,1);

}

@keyframes title {
    0% {
        transform: translateY(7rem);
        opacity: 0;
    }
    15.2% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60.9% {
        transform: translateY(0);
        opacity: 1;
    }
}

.title_text_bold {
    margin-top: 10px;
    display: flex;
    align-items: center;

}

.title_text_bold h2 {
    width: 1324.8px;
    font-size: 50px;
    color: white;
    height: 50px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -2.5px;
    animation: title 2s cubic-bezier(.33,0,.25,1);
}

.video-cat {
    position: relative;
    height: 662px;
    width: 460px;
    margin: 0px 0px 0px 95px;
}

.inside_video-cat {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 460px; 
    padding: 60px;
    background-color: #141A20;
    border-radius: 30px;
}

.highligted_box {
    height: 26px;
    width: 177px;
    cursor: default;
}

.Video_Marketing_para {
    width: 341px;

    margin: 33px 0px 0px -9px;
    /* background-color: red; */
}

.Video_Marketing_para p {
    color: #D1D9E1;
    font-size: 20px;
    font-weight: 450;
}

.inside_highligted-box {
    display: flex;
    flex-direction: co;
    align-content: center;
    justify-content: center;   
}


.inside_highligted-box span {
    margin: -11px -224px 0px -77px;
    gap: 154px;
    display: flex;
    color: white;
    font-size: 24px;
}

.marketing-cats{
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 460px;
    /* background-color: red; */
}

.inside_marketing-cats {
    width: 460px;
    margin: 5px 0px 0px 0px;
    
    /* background-color: rgb(248, 248, 248); */
}

.flexing-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.inside-background span {
    display: flex;
    justify-content: space-between;
    height: 112px;
    width: 460px; 
    margin: 3px 0px 0px 0px;
    padding: 40px 57px;
    border-radius: 25px;
    /* background-color: #141A20; */
}

.inside-background span:hover{
    transition: 1s ease;
    /* color: black; */
    border-radius: 25px;
    color: black;
    background-color: #17D5FF;
    box-shadow: 0 0 20px #17D5FF;
    cursor: pointer;
}
.inside-background span {
    margin: 0px;
    text-align: left;
    color: white;
    font-size: 23px;
}

.side-photo {
    top: -659px;
    left: 641px;
    position: relative;
    height: 661px;
    width: 806px;
    /* background-color: red; */
}

.side-photo img {
    height: 662px;
    width: 662px;
    position: relative;
    border-radius: 25px;
    box-shadow: 0 0px 80px rgba(239, 235, 235, 0.2);
}

.section-latest {
    height: 1035px;
    width: 1903px;
    padding: 96px 0px;

}

.inside-section-latest {
    height: 843px;
    width: 1440px;
    display: block;
    margin: 0px 232px;
    padding: 0px 27px;
}

.latest-textbox {
    display: flex;
    justify-content: center;
    height: 144px;
    width: 1367px;
    padding: 0px 109px;
}

.latest-textbox h2{
    font-size: 70px;
    margin: 0px 0px 72px;
    color: white;
}


.img-container {
    width: 1385px;
    height: 704px;
}

.imgs{
    display: flex;
    justify-content: space-between;
}
.img-1 {
    width: 684px;
    height: 704px;
    border-radius: 30px;
     background-color:#141A20;
}


.img-box {
    width: 684px;
    height: 393px;

}

.img-box img {
    width: 684px;
    height: 393px;
    border-radius: 30px;
}

.downside_content {
    display: flex;
    flex-direction: column;
    width: 684px;
    height: 311px;
    padding: 48px;
}

.downside_content ul {
    margin: 0px 0px 16px;
    width: 588px;
    height: 43px;
    /* background-color: black; */
    border-radius: 12px;
}



.downside_content span {
    color: white;
    padding: 8px 16px;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #28313A;
}

.downside_content h2 {
    font-size: 32px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0px 0px 0px 0px;
}



.container-btn {
    width: 588px;
    height: 56px;
    margin: 32px 0px 0px 0px;
    /* background-color: white; */
    
}

.container-btn {
    width: 250px;
    height: 60px;
    align-items: center;
}

.container-btn :hover {
    background-color: #17D5FF;
    color: black;
    transition: 0.9s ease;
    box-shadow: 0 0 20px #17D5FF;
}

.container-btn span {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #000000;
    padding: 18px 16px;
    border-radius: 15px;
    font-weight: 530;
}

.container-btn span i{
    padding: 4px 14px;
}


.inside-cardname  :hover{
    width: 430px;
    height: 486px;
    transition: 10s ease;
    
}

.video-card-title {
    color: white;
}

.video-card-title h3 {
    font-size: 20px;
    margin: 5px 0px 9px 0px;
}

.video-card-title h4 {
    font-size: 16px;
}

.cardname-vid {
    object-fit: cover;
    padding: 0px 0px;
    overflow: hidden;
    margin: 0px -9px;
    border-radius: 30px;
    padding: 0px 0px 0px 0px;
}

.cardname-vid video {
    margin: 0;
    object-fit: cover;
    max-width: 54rem;
    width: 100%;
}


.fotter-upper{
    width: 1903px;
    height: 914px;
    padding: 95px 0px;
}

.inside-fotterupper {
    width: 1440px;
    height: 722px;
    margin: 0px 231px;
    color: white;
}

.inside-fotterupper h2 {
    font-size: 50px;
    text-align: center;
    font-weight: 500;
    width: 864px;
    height: 100px;
    margin: 0px 288px 72px;
    padding: 0px 16px;
}


.inside-fotterupper ul {
    width: 1440px;
    height: 550px;
    /* padding: 0px 58px; */
    /* background-color: #17D5FF; */
    display: flex;
    justify-content: space-between;
}


.inside-fotterupper  ul ::after{
    width: 1440px;
    height: 550px;
    margin: 0px 100px;
    background-color: red;
}
.inside-fotterupper ul :hover{
    width: 600px;

    transition: 10s ease;
}

.inside-fotterupper ul li {
    list-style: none;
    animation: card .75s cubic-bezier(.33,0,.25,1);
}

@keyframes card {
    0% {
        transform: scale(.9);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
    
}


.cards  {
    width: 430px;
    height: 550px;
    /* background-color: red; */
}



.cardname {
    color: white;
}


.cardname {
    display: flex;
    flex-direction: column;
    animation: imagec .75s cubic-bezier(.7,0,.3,1);
}


@keyframes image{
    0% {
        transform: scale(.9);
        opacity: .95;
    }
    75% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.cardname{
    font-size: 1.25rem;
    line-height: 1.4;
    letter-spacing: -.0375rem;
    font-weight: 400;
    
}



/* footer */

.footer {
    width: 1903px;
    height: 896px;
}

.inside-footer {
    width: 1440px;
    height: 896px;
    margin: 0px 231px;
    padding: 96px 0px 32px;
    /* background-color: #482c2c; */
    display: grid;
    width: 100%;
    min-width: 375px;   
    max-width: 1440px;
    grid-auto-rows: auto;
    
    padding-bottom: 2rem;
    padding-top: 4rem;
    row-gap: 6rem;  
    color: rgb(255 255 255);
    padding-top: 6rem;

}

.footer-up {
    width: 1324px;
    height: 192px;
    z-index: 0;
    grid-column: span 23/span 23;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0px 51px;
    grid-template-columns: unset;
}

.inside-footerup {
    width: 480px;
    height: 195px;
    display: flex;   
    flex-direction: column;    
    row-gap: 1rem;    
    padding-top: 2rem;
}

.inside-footerup p {
    font-size: 16px;
}

.foot-btn {
    display: flex;

}


.btn-foot{
    width: 250px;
    margin: 0px 16px 0px 0px;
    align-items: center;
}

.btn-foot :hover {
    background-color: #17D5FF;
    color: black;
    transition: 0.5s ease;
    box-shadow: 0 0 20px #17D5FF;
}

.btn-foot span {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #000000;
    padding: 18px 16px;
    border-radius: 20px;
    font-weight: 530;
}

.btn-foot span i{
    padding: 4px 14px;
}






.btn-footr{
    width: 119px;
    margin: 0px 16px 0px 0px;
    align-items: center;
}

.btn-footr :hover {
    background-color: #17D5FF;
    color: black;
    transition: 0.5s ease;
    box-shadow: 0 0 20px #17D5FF;
}

.btn-footr span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #000000;
    padding: 18px 16px;
    border-radius: 15px;
    font-weight: 530;
}

.btn-footr span i{
    padding: 3px 14px;
}



.final-footer   {
    width: 1324px;
    height: 323px;

    z-index: 0;
    grid-column: span 23/span 23;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    grid-template-columns: repeat(23,minmax(0,1fr));
    color: var(--colors-footer-content);

}

.container-footer {

    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    column-gap: 2.1875rem;
    row-gap: 6rem;
    padding:  24px 0px 28px;




    
}

.footcontainer-left {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 1.5rem
}



.footcontainer-left h2 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: -.06rem;
    font-weight: 500;
}
.footcontainer-left-downside {
    width: 769px;
    height: 169px;
    display: flex;
    column-gap: 1.25rem;

}

.footcontainer-left-downside :hover {
    color: #17D5FF;
    transition: 0.1s ease;
}

.inside-left-one {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    gap: 0.25rem;
}


.inside-left-one a h3{
    color: #fdfcfc;
}

.inside-left-one a {
    color: #cccccc;
}


.footcontainer-right {
    width: 209px;
    height: 323px;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 1.5rem
}

.bottom-footer {
    width: 1324px;
    height: 51px;
    display: flex;
    justify-content: space-between;

    margin-top: -26px;

    gap: 1rem;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column: span 23/span 23;
    width: 100%;
}


.bottom-footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cccccc;
    width: 385px;
    height: 51px;
}

.footer-socialmedia {
    display: flex;


}

.footer-socialmedia a {
    padding: 10px;
}

.lng-n-btn {
    display: flex;
    align-items: center;
}

.lng-n-btn p {
    padding: 10px;
}

.lng-btn {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.56px;
    font-weight: 400;

    padding-right: 0.375rem;
    padding-left: 0.5rem;
    background-color: rgba(40,49,58,1);
    border-width: 0px;
    border-radius: 5px;
    width: 6.25rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;

    cursor: pointer;
}


.lng-btn span {
    pointer-events: none;
    margin: 4px 0px;
}


.bottom-footer p {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


.bottom-footer p span {
    padding-top: 10px;
}


.footer-socialmedia {
    background-color: none;
}
.footer-socialmedia a {
    color: #cccccc;
}

.footer-socialmedia a svg {
    color: none;
}


.footer-socialmedia a :hover {
    color: #17D5FF;
    
    transition: 0.5s ease;
   
}
.bottom-footer span a {
    color: #cccccc;
}

.bottom-footer p {
    color: #cccccc;
}

.bottom-footer span  :hover{
    color: #17D5FF;
    
    transition: 0.2s ease;
}