*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.header{
    width: 100vw;
    height: 600vh;
    /* border: 2px solid red; */
}
.navBar{
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftbar{
    display: flex;
    flex-direction: row;

}
.rightBar{
    display: flex;
    flex-direction: row;
}


body{
    background-color: rgb(7, 7, 7);
}
.middle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid green; */
}
.video_container{
    width: 100vw;
    height: 100vh;
    
}
.video_container img{
    position: relative;
    z-index: 1;
    display: inline;
    width: 90%;
    height: 90%;
    border-radius: 1.5rem; 
    object-position: center;
    object-fit: cover;
    margin-left: 70px;
    margin-top: 30px;
}
.inside_video {
    position: absolute;
    top: 100;
    left: 7%;
    width: 30%; 
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff; 
    /* border: 2px solid red; */
    z-index: 2;
    padding-top: 20px;
}
.heading_video span{
   font-size: 100px;
   font: bold;
}
.para_video p{
    font: bold;
    font-size: 20px;
    margin-top: 10px;
}
.button_text {
    background-color: #007bff; 
    padding: 10px;
    font-size: 20px; 
    cursor: pointer;
    color: black;
    display: inline-block;
}
.button_text1{
    margin-left: 200px;
}
.button_start{
    display: flex;
}

.middle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 140vh;
    margin-top: 30px;
    /* border: 2px solid yellow; */
}
.hero{
    color: white;
    margin: 25px;
    font-size: 60px;
    text-align: center;
    transition: all 3s;
    /* position: fixed; */
}
.image1{
    display: flex;
    width: 90vw;
    height: 80vh;
    border-radius: 1.75rem;
    background-color: rgb(20, 20, 21);
    position: relative;
    z-index: 1;
    bottom: 0;
    top: 0;
    /* justify-content: space-around; */
    justify-content: space-between;
}
.image2{
    display: flex;
    position: sticky;
    bottom: 0;
    width: 90vw;
    height: 60vh;
    border-radius: 1.75rem;
    background-color: rgb(20, 20, 21);
    /* justify-content: space-around; */
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
.image1para{
    width: 32%;
    margin: 70px;
}
.image1para h2{
    font-size: 30px;
    color: white;
}
.image1para p{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.image1image{
    width: 45%;
    height: 100%;
}
.image11{
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}
.image22{
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}

.section3{
    width: 100vw;
    height: 85vh;
    /* border: 2px solid orange; */
    margin-top: 100px;
}

.section31{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    /* border: 2px solid blue; */
    margin-left: 70px;
    background-color: rgb(72, 66, 66);
    border-radius: 1.75rem;
    margin-top: 20px;
}
.sectionPara{
    width: 70vw;
    height: 40vh;
    /* border: 2px solid red; */
}
.sectionPara p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    
}

.sectionbottom{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 20vh;
    margin-top: 60px;
}
.sectionleft p{
    color: white;
    font-size: 20px;
}



.section4{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 60vh;
    border: 2px solid red;
    margin-left: 80px;
    margin-top: 50px;
    border-radius: 1.75rem;
    justify-content: space-evenly;
    background-color: rgb(12, 12, 12);
}

.part4{
    color: white;
    margin-left: 40px;
    font-size: 25px;
}

.part42{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
}
.part42 p{
    font-size: 20px;
    width: 450px;
    margin-left: 45px;
}
.button1 {
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.button11,
.button22 {
    position: relative;
    padding: 20px;
    overflow: hidden;
    z-index: 1; 
}

.button11::before,
.button22::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: aqua;
    transition: left 0.5s ease;
    z-index: -1; 
}

.button11:hover::before,
.button22:hover::before {
    left: 0;
    transition-duration: 3ms;
}

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.section5 h4{
    font-size: 30px;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    margin-bottom: 20px;
}
.section5 h1{
    font-size: 50px;
    width: 80vw;
    color: wheat;
}

.section6{
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 50vh;
    /* border: 2px solid red; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 80px;
    gap: 50px;
}

.sec51{
    display: flex;
    flex-direction: column;
}
.one{
    width: 60px;
    color: white;
    margin-left: 70px;
}
.two{
    color: white;
    margin-left: 70px;
    margin-top: 30px;
}
.three{
    width: 15vw;
    height: 20vh;
    color: white;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 25px;
}
.section7 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    /* border: 2px solid red; */
    height: 100vh;
    position: relative;
    margin-top: 80px;
   
}

.section71 {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
    margin-left: 50px;
}

.section71 h3{
    font-size: 40px;
}
.section71 h1{
    font-size: 70px;
    width: 40vw;
}
.section71 svg{
    width: 30px;
    margin-top: 30px;
}
.btnsettng{
    width: 20vw;
    border: 2px solid red;
}
/* button checking */
.section71 button { 
    background-color: white; 
    color: black; 
    width: 100%;
    z-index: 2;
    font-size: 30px;
    transition: background-position 0.5s ease;
}

.section71 button:hover {
    background: linear-gradient(to left, transparent 50%, aqua 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: black; 
}
.section72{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 60px;
    margin-right: 40px;
    /* border: 2px solid red; */
}
.section722{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px;
    margin-right: 10px; */
}
.section722 h1{
    width: 40vw;
}
.section722 svg{
    width: 30px;
}

.container{
    width: 20vw;
    display: flex;
    /* margin: 0 auto; */
    text-align: center;
    margin-top: 10px;
    border-radius: 1.75rem;
    /* border: 2px solid rebeccapurple; */
  }
  
  a{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    color: black;
    background: transparent;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1.75rem;
    width: 20vw;
    overflow: hidden;
  }
  
  span {
    z-index: 5;
    position: relative;
    width: 20vw;
    color: white;
    font-size: 26px;
    text-align: center;
    transition: color 350ms ease;
  }
  a:hover span{
    color: white;
  }
  
  a::after, a::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 1.75rem;
    right: 0;
    background: aqua;
    z-index: -1;
  }
  
  a::before {
  /*   background: blue; */
    transform: translateX(100%);
    z-index: 1;
  }
  
  a:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  a::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  a:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }


  .section8{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    margin-top: 100px;
  }
 .vimeo{
    display: flex;
    width: 15vw;
    height: 15vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 1.75rem;
    background-color: aqua;
    color: black;
    cursor: pointer;
 }
  .section81{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .section81 h4{
    color: white;
    font-size: 26px;
    text-align: start;
    justify-content: start;
  }
  .section81 p{
    width: 30vw;
    font-size: 20px;
    color: white;
  }

  .section811{
    display: flex;
    flex-direction: row;
  }

.container1 {
  width: 20vw;
  display: flex;
  text-align: center;
  margin-top: 10px;
  border-radius: 1.75rem;
  overflow: hidden;
}

.container1 a {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: black;
  background: transparent;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1.75rem;
  width: 100%;
  height: 10vh;
  /* border: 2px solid red; */
  overflow: hidden;
}

.container1 span {
  z-index: 5;
  position: relative;
  width: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
  transition: color 350ms ease;
}

.container1 a:hover span {
  color: white;
}

.container1 svg {
  z-index: 10; /* Ensure SVG appears above other elements */
}

.container1 a::before,
.container1 a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  border-radius: 1.75rem;
  right: 0;
  background: aqua;
  z-index: -1;
}

.container1 a::before {
  transform: translateX(100%);
  transition: transform 350ms ease;
}

.container1 a:hover::before {
  transform: translateX(0);
}

.container1 a::after {
  z-index: 0;
  transform: translateX(100%);
  transition: transform 350ms ease;
}

.container1 a:hover::after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 350ms 360ms ease;
}
.container1 svg {
    width: 3em; 
    height: 2em; 
    border-radius: 1.75rem;
    background-color: aqua;
    fill: currentColor; 
    vertical-align: middle; 
    margin-left: 5px; 
  }




  .rotationpart{
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 200px;
  }



  @media only screen and (max-width:1024px) {
    .middle{
        width: 95vw;
    }
    .inside_video{
        width: 50vw;
        height: 60vh;
        margin-left: 20px;
    }
    .heading_video span{
        font-size: 70px;
        font: bold;
     }
}

  @media only screen and (max-width:768px) {
    .middle{
        width: 95vw;
    }
    .inside_video{
        width: 50vw;
        height: 60vh;
        margin-left: 20px;
    }
    .heading_video span{
        font-size: 70px;
        font: bold;
     }
     .middle1{
        width: 95vw;
     }
     .image1 , .image2{
        width: 80vw;
     }
     .image1para{
        width: 28%;
        
     }
     .image1para p{
        width: 30vw;
     }
     .sectionPara{
        width: 60vw;
        height: 40vh;
        /* border: 2px solid red; */
    }
    /* check again */
    .sectionPara p{
        width: 80vw;
        height: 50vh;
        margin-top: 40px;
        
    }
   
    .section71 {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 30px;
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 50px;
    }


    .section71 h3{
        font-size: 20px;
    }
    .section71 h1{
        font-size: 30px;
        width: 40vw;
    }
    .section72 {
        margin-right: 0; /* Adjust margin for smaller screens */
    }

    .section722 {
        flex-direction: column; /* Change to column layout on smaller screens */
        text-align: center; /* Center-align content */
    }

    .section722 h1 {
        width: 100%; /* Full width for h1 on smaller screens */
    }
    .section6{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        height: 130vh;
        /* border: 2px solid red; */
        /* justify-content: center; */
        align-items: center;
        margin-left: 80px;
        /* gap: 50px; */
    }
    .section8{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin-top: 100px;
      }
}