*{
    padding: 0;
    margin: 0;box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: ABC Repro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header{
    width: 100vw;
    height: 600vh;
    /* border: 2px solid red; */
}
.navBar{
    display: flex;
    width: 100vw;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.leftbar{
    display: flex;
    flex-direction: row;

}
.rightBar{
    display: flex;
    flex-direction: row;
}


body{
    background-color: rgb(7, 7, 7);
}
.middle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    margin-top: 60px;
    /* border: 2px solid green; */
}
.video_container{
    width: 100vw;
    height: 100vh;
}
.video{
    position: relative;
    z-index: 1;
    display: inline;
    width: 90%;
    height: 90%;
    border-radius: 1.5rem; 
    object-position: center;
    object-fit: cover;
    margin-left: 70px;
    margin-top: 30px;
}
.inside_video {
    position: absolute;
    top: 100;
    left: 7%;
    width: 30%; 
    height: 80%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff; 
    /* border: 2px solid red; */
    z-index: 2;
    padding-top: 20px;
}
.heading_video span{
   font-size: 100px;
   font: bold;
}
.para_video p{
    font: bold;
    font-size: 20px;
    margin-top: 10px;
}
.button_text {
    /* background-color: #444c54;  */
    padding: 10px;
    font-size: 20px; 
    cursor: pointer;
    color: black;
    display: inline-block;
}
.button_start{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
   margin-top: 19px;
   background-color: rgba(0, 170, 207, 1);
   width: 230px;
   height: 60px;
   border-radius: 0.75rem;
}

.button_icon svg {
   color: black;
   border: 2px solid red;
   width: 40px;
   height: 4vh;
   background-color: aqua;
}

.button_start:hover{
    background-color: rgba(0, 140, 170, 1);
}
.wrapper1 svg{
    width: 25px;
    border-radius: 5px;
    background-color: rgb(13, 187, 240);
    display: flex;
    transition-duration: 2.5s;
}
.btn-pink {
    background-color: rgba(40, 49, 58, 1);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #2b2a2a3f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.75rem;
    font-weight: 500;
    position: relative;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 10px;
  }
  .btn-pink::before {
    content: "";
    position: absolute;
    background-color: #15bde3;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.8s;
  }
  .btn-pink:hover::before {
    transform: scaleX(1);
  }
  .btn-pink:hover {
    color:black;
  }
  .btn-pink svg:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
}


.middle1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 140vh;
    margin-top: 30px;
    /* border: 2px solid yellow; */
}
.hero {
    color: white;
    margin: 25px;
    font-size: 60px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    animation: title 3s cubic-bezier(.33333, 0, .25, 1) infinite forwards;
}

@keyframes title {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(30);
    }
}
.image1{
    display: flex;
    width: 90vw;
    height: 80vh;
    border-radius: 1.75rem;
    background-color: rgb(20, 20, 21);
    position: relative;
    z-index: 1;
    bottom: 0;
    top: 0;
    /* justify-content: space-around; */
    justify-content: space-between;
}
.image2{
    display: flex;
    position: sticky;
    bottom: 0;
    width: 90vw;
    height: 60vh;
    border-radius: 1.75rem;
    background-color: rgb(20, 20, 21);
    /* justify-content: space-around; */
    justify-content: space-between;
    /* margin-bottom: 20px; */
}
.image1para{
    width: 32%;
    margin: 70px;
}
.image1para h2{
    font-size: 30px;
    color: white;
}
.image1para p{
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.image1image{
    width: 45%;
    height: 100%;
}
.image11{
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}
.image22{
    width: 100%;
    height: 100%;
    border-radius: 1.75rem;
}

.section3{
    width: 100vw;
    height: 85vh;
    /* border: 2px solid orange; */
    margin-top: 100px;
    opacity: 0;
    transform: translateY(-20px);
    animation: title 3s cubic-bezier(.33333, 0, .25, 1) 2 forwards;
}

.section31{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    /* border: 2px solid blue; */
    margin-left: 70px;
    background-color: rgb(72, 66, 66);
    border-radius: 1.75rem;
    margin-top: 20px;
}
.sectionPara{
    width: 70vw;
    height: 40vh;
  
    /* border: 2px solid red; */
}
.sectionPara p{
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    
}

.sectionbottom{
    display: flex;
    justify-content: space-between;
    width: 70vw;
    height: 20vh;
    margin-top: 60px;
}
.sectionleft p{
    color: white;
    font-size: 20px;
}



.section4{
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 60vh;
    /* border: 2px solid red; */
    margin-left: 40px;
    margin-top: 50px;
    border-radius: 1.75rem;
    justify-content: space-evenly;
    background-color: rgba(10, 14, 18, 1);;
}

.part4{
    color: white;
    margin-left: 40px;
    font-size: 25px;
}

.part42{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    color: white;
}
.part42 p{
    font-size: 20px;
    width: 450px;
    margin-left: 45px;
}
.button1 {
    display: flex;
    gap: 40px;
    margin-right: 50px;
}

.button11,
.button22 {
    position: relative;
    padding: 20px;
    overflow: hidden;
    z-index: 1; 
}

.button11::before,
.button22::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: aqua;
    transition: left 0.5s ease;
    z-index: -1; 
}

.button11:hover::before,
.button22:hover::before {
    left: 0;
    transition-duration: 3ms;
}

.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;
}
.section5 h4{
    font-size: 30px;
    color: white;
    /* font-family: 'Courier New', Courier, monospace; */
    margin-bottom: 20px;
}
.section5 h1{
    font-size: 50px;
    width: 80vw;
    color: wheat;
}

.section6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    margin-top: 100px;
    /* height: 50vh; */
    /* border: 2px solid red; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 80px;
    gap: 50px;
}

.sec51{
    display: flex;
    flex-direction: column;
}
.one{
    width: 60px;
    color: white;
    margin-left: 70px;
}
.two{
    color: white;
    margin-left: 70px;
    margin-top: 30px;
}
.three{
    width: 15vw;
    height: 20vh;
    color: white;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 25px;
}
.section7 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    /* border: 2px solid red; */
    height: 140vh;
    position: relative;
    margin-top: 280px;
   /* z-index: 500; */
}

.section71 {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 30px;
    position: sticky;
    top: 10px;
    z-index: 100;
    margin-top: 50px;
    margin-left: 50px;
    /* border: 2px solid red; */
}

.section71 h3{
    font-size: 40px;
}
.section71 h1{
    font-size: 70px;
    width: 40vw;
}
.section71 svg{
    width: 30px;
    margin-top: 30px;
}
.btnsettng{
    width: 20vw;
    border: 2px solid red;
}
/* button checking */
.section71 button { 
    background-color: white; 
    color: black; 
    width: 100%;
    z-index: 2;
    font-size: 30px;
    transition: background-position 0.5s ease;
}

.section71 button:hover {
    background: linear-gradient(to left, transparent 50%, aqua 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: black; 
}
.section72{
    display: flex;
    flex-direction: column;
    color: white;
    gap: 60px;
    margin-right: 40px;
    /* margin-top: 40px; */
    /* border: 2px solid red; */
}
.section722{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* margin-top: 10px;
    margin-right: 10px; */
}
.section722 h1{
    width: 40vw;
}
.section722 svg{
    width: 30px;
}
.section722 :hover{
    transition: 0.9s ease;
    /* color: black; */
    /* border-radius: 25px; */
    color: black;
    background-color: #17D5FF;
    box-shadow: 0 0 20px #17D5FF;
    cursor: pointer;
    height: 10vh;
}
.container{
    width: 20vw;
    display: flex;
    text-align: center;
    margin-top: 10px;
    border-radius: 1.75rem;
  }
  
  .container a{
    display: block;
    position: relative;
    text-decoration: none;
    font-family: "Helvetica", sans-serif;
    color: black;
    background: transparent;
    padding: 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-radius: 1.75rem;
    width: 20vw;
    overflow: hidden;
  }
  
  span {
    z-index: 5;
    position: relative;
    width: 20vw;
    color: white;
    font-size: 26px;
    text-align: center;
    transition: color 350ms ease;
  }
  .container a:hover span{
    color: white;
  }
  
  .container a::after, .container a::before{
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    border-radius: 1.75rem;
    right: 0;
    background: aqua;
    z-index: -1;
  }
  
  a::before {
    transform: translateX(100%);
    z-index: 1;
  }
  
  a:hover:before {
    transform: translateX(0);
    transition: transform 350ms ease;
  }
  
  a::after {
     z-index: 0;
    transform: translateX(100%);
    transition: none;
    transition: transform 350ms ease;
  }
  
  a:hover:after {
    opacity: 1;
    transform: translateX(0);
   transition: transform 350ms 360ms ease;
  }


  .section8{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    margin-top: 100px;
  }
 .vimeo{
    display: flex;
    width: 15vw;
    height: 15vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    border-radius: 1.75rem;
    background-color: aqua;
    color: black;
    cursor: pointer;
 }
  .section81{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .section81 h4{
    color: white;
    font-size: 26px;
    text-align: start;
    justify-content: start;
  }
  .section81 p{
    width: 30vw;
    font-size: 20px;
    color: white;
  }

  .section811{
    display: flex;
    flex-direction: row;
  }

.container1 {
  width: 20vw;
  display: flex;
  text-align: center;
  margin-top: 10px;
  border-radius: 1.75rem;
  overflow: hidden;
}

.container1 a {
  display: block;
  position: relative;
  text-decoration: none;
  font-family: "Helvetica", sans-serif;
  color: black;
  background: transparent;
  padding: 20px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 1.75rem;
  width: 100%;
  height: 10vh;
  /* border: 2px solid red; */
  overflow: hidden;
}

.container1 span {
  z-index: 5;
  position: relative;
  width: 100%;
  color: white;
  font-size: 16px;
  text-align: center;
  transition: color 350ms ease;
}

.container1 a:hover span {
  color: white;
}

.container1 svg {
  z-index: 10;
}

.container1 a::before,
.container1 a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  border-radius: 1.75rem;
  right: 0;
  background: aqua;
  z-index: -1;
}

.container1 a::before {
  transform: translateX(100%);
  transition: transform 350ms ease;
}

.container1 a:hover::before {
  transform: translateX(0);
}

.container1 a::after {
  z-index: 0;
  transform: translateX(100%);
  transition: transform 350ms ease;
}

.container1 a:hover::after {
  opacity: 1;
  transform: translateX(0);
  transition: transform 350ms 360ms ease;
}
.container1 svg {
    width: 3em; 
    height: 2em; 
    border-radius: 1.75rem;
    background-color: aqua;
    fill: currentColor; 
    vertical-align: middle; 
    margin-left: 5px; 
  }
  @media only screen and (max-width:1024px) {
    .middle{
        width: 95vw;
    }
    .inside_video{
        width: 50vw;
        height: 60vh;
        margin-left: 20px;
    }
    .heading_video span{
        font-size: 70px;
        font: bold;
     }
}

  @media only screen and (max-width:768px) {
    .middle{
        width: 95vw;
    }
    .inside_video{
        width: 50vw;
        height: 60vh;
        margin-left: 20px;
    }
    .heading_video span{
        font-size: 70px;
        font: bold;
     }
     .middle1{
        width: 95vw;
     }
     .image1 , .image2{
        width: 80vw;
     }
     .image1para{
        width: 28%;
        
     }
     .image1para p{
        width: 30vw;
     }
     .sectionPara{
        width: 60vw;
        height: 40vh;
        /* border: 2px solid red; */
    }
    /* check again */
    .sectionPara p{
        width: 60vw;
        height: 50vh;
        font-size: 30px;
        margin-top: 40px;
        
    }
   
    .section71 {
        display: flex;
        flex-direction: column;
        color: white;
        gap: 30px;
        position: sticky;
        top: 0;
        z-index: 100;
        margin-left: 50px;
    }


    .section71 h3{
        font-size: 20px;
    }
    .section71 h1{
        font-size: 30px;
        width: 40vw;
    }
    .section72 {
        margin-right: 0; 
    }

    .section722 {
        flex-direction: column; 
        text-align: center;
        font-size: smaller; 
    }

    .section722 h1 {
        width: 49%; 
    }
    .section6{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90vw;
        height: 130vh;
        /* border: 2px solid red; */
        /* justify-content: center; */
        align-items: center;
        margin-left: 80px;
        /* gap: 50px; */
    }
    .section8{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        height: 100vh;
        margin-top: 100px;
      }
      .hero {
        color: white;
        margin: 25px;
        font-size: 40px;
        text-align: center;
        opacity: 0;
        transform: translateY(-20px);
        animation: title 3s cubic-bezier(.33333, 0, .25, 1) infinite forwards;
    }
    .section31{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80vw;
        height: 80vh;
        /* border: 2px solid blue; */
        margin-left: 70px;
        background-color: rgb(72, 66, 66);
        border-radius: 1.75rem;
        margin-top: 20px;
    }
      
}

.wrapper1{
    width: 20vw;
    /* border: 2px solid red; */
}
.wrapper1 svg{
    width: 25px;
    border-radius: 5px;
    background-color: rgb(13, 187, 240);
    display: flex;
    transition-duration: 2.5s;
}
.btn-pink1 {
    background-color: rgb(13, 187, 240);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #2b2a2a3f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.75rem;
    font-weight: 500;
    position: relative;
    width: 30vw;
    /* margin-top: 10px; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 10px;
  }
  .btn-pink1::before {
    content: "";
    position: absolute;
    background-color: rgb(27, 133, 168);
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.8s;
  }
  .btn-pink1:hover::before {
    transform: scaleX(1);
  }
  .btn-pink1:hover {
    color:black;
    /* border-radius: 0.75rem; */
  }
  .btn-pink1 svg:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
   
}

.wrapper12{
    width: 20vw;
    /* border: 2px solid red; */
}
.wrapper12 svg{
    width: 25px;
    border-radius: 5px;
    background-color: rgb(13, 187, 240);
    display: flex;
    transition-duration: 2.5s;
}
.btn-pink12 {
    background-color: rgb(52, 49, 49);
    width: fit-content;
    color: white;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #2b2a2a3f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.75rem;
    font-weight: 500;
    position: relative;
    width: 20vw;
    /* margin-top: 10px; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 10px;
  }
  .btn-pink12::before {
    content: "";
    position: absolute;
    background-color: #15bde3;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.8s;
  }
  .btn-pink12:hover::before {
    transform: scaleX(1);
  }
  .btn-pink12:hover {
    color:black;
    /* border-radius: 0.75rem; */
  }
  .btn-pink12 svg:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
   
}

.wrapper123{
    width: 20vw;
    /* border: 2px solid red; */
}
.wrapper123 svg{
    width: 25px;
    border-radius: 5px;
    background-color: rgb(13, 187, 240);
    display: flex;
    transition-duration: 2.5s;
}
.btn-pink123 {
    background-color: white;
    width: fit-content;
    color: black;
    padding: 0.8rem 2.3rem;
    box-shadow: 5px 5px 7px 0px #2b2a2a3f;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 0.75rem;
    font-weight: 500;
    position: relative;
    width: 20vw;
    /* margin-top: 10px; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    gap: 10px;
  }
  .btn-pink123::before {
    content: "";
    position: absolute;
    background-color: #15bde3;
    top: 0;
    left : 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.8s;
  }
  .btn-pink123:hover::before {
    transform: scaleX(1);
  }
  .btn-pink123:hover {
    color:black;
    /* border-radius: 0.75rem; */
  }
  .btn-pink123 svg:hover {
    transform: translateX(20px);
    transition: transform 0.3s ease;
   
}


.footer {
    width: 1903px;
    height: 896px;
}

.inside-footer {
    width: 1440px;
    height: 896px;
    margin: 0px 71px;
    padding: 96px 0px 32px;
    /* background-color: #482c2c; */
    display: grid;
    width: 100%;
    min-width: 375px;   
    max-width: 1440px;
    grid-auto-rows: auto;
    
    padding-bottom: 2rem;
    padding-top: 4rem;
    row-gap: 6rem;  
    color: rgb(255 255 255);
    padding-top: 6rem;

}

.footer-up {
    width: 1324px;
    height: 192px;
    z-index: 0;
    grid-column: span 23/span 23;
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
    justify-content: space-between;
    padding: 0px 24px 0px 51px;
    grid-template-columns: unset;
}

.inside-footerup {
    width: 480px;
    height: 195px;
    display: flex;   
    flex-direction: column;    
    row-gap: 1rem;    
    padding-top: 2rem;
}

.inside-footerup p {
    font-size: 16px;
}

.foot-btn {
    display: flex;

}


.btn-foot{
    width: 250px;
    margin: 0px 16px 0px 0px;
    align-items: center;
}

.btn-foot :hover {
    background-color: #17D5FF;
    color: black;
    transition: 0.5s ease;
    box-shadow: 0 0 20px #17D5FF;
}

.btn-foot span {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    background-color: #000000;
    padding: 18px 16px;
    border-radius: 20px;
    font-weight: 530;
}

.btn-foot span i{
    padding: 4px 14px;
}






.btn-footr{
    width: 119px;
    margin: 0px 16px 0px 0px;
    align-items: center;
}

.btn-footr :hover {
    background-color: #17D5FF;
    color: black;
    transition: 0.5s ease;
    box-shadow: 0 0 20px #17D5FF;
}

.btn-footr span {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #000000;
    padding: 18px 16px;
    border-radius: 15px;
    font-weight: 530;
}

.btn-footr span i{
    padding: 3px 14px;
}



.final-footer   {
    width: 1324px;
    height: 323px;

    z-index: 0;
    grid-column: span 23/span 23;
    grid-column-start: 2;
    grid-row-start: 2;
    display: grid;
    width: 100%;
    grid-auto-rows: auto;
    grid-template-columns: repeat(23,minmax(0,1fr));
    color: var(--colors-footer-content);

}

.container-footer {

    grid-column-start: 1;
    grid-column-end: -1;
    display: flex;
    column-gap: 2.1875rem;
    row-gap: 6rem;
    padding:  24px 0px 28px;




    
}

.footcontainer-left {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 1.5rem
}



.footcontainer-left h2 {
    font-size: 1.5rem;
    line-height: 1.1;
    letter-spacing: -.06rem;
    font-weight: 700;

}
.footcontainer-left-downside {
    width: 769px;
    height: 169px;
    display: flex;
    column-gap: 1.25rem;

}

.footcontainer-left-downside :hover {
    color: #17D5FF;
    transition: 0.1s ease;
}

.inside-left-one {
    display: flex;
    flex-grow: 1;

    flex-direction: column;
    gap: 0.25rem;
}


.inside-left-one a h3{
    color: #fdfcfc;
    
}

.inside-left-one a {
    color: #cccccc;
    text-decoration: none;
}


.footcontainer-right {
    width: 209px;
    height: 323px;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    gap: 1.5rem
}

.bottom-footer {
    width: 1324px;
    height: 51px;
    display: flex;
    justify-content: space-between;

    margin-top: -26px;

    gap: 1rem;
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column: span 23/span 23;
    width: 100%;
}


.bottom-footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #cccccc;
    width: 385px;
    height: 51px;
}

.footer-socialmedia {
    display: flex;


}

.footer-socialmedia a {
    padding: 10px;
}

.lng-n-btn {
    display: flex;
    align-items: center;
}

.lng-n-btn p {
    padding: 10px;
}

.lng-btn {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: white;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.56px;
    font-weight: 400;

    padding-right: 0.375rem;
    padding-left: 0.5rem;
    background-color: rgba(40,49,58,1);
    border-width: 0px;
    border-radius: 5px;
    width: 6.25rem;
    display: flex;
    gap: 10px;
    justify-content: space-around;

    cursor: pointer;
}


.lng-btn span {
    pointer-events: none;
    margin: 4px 0px;
}


.bottom-footer p {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


.bottom-footer p span {
    padding-top: 10px;
}


.footer-socialmedia {
    background-color: none;
}
.footer-socialmedia a {
    color: #cccccc;
}

.footer-socialmedia a svg {
    color: none;
}


.footer-socialmedia a :hover {
    color: #17D5FF;
    
    transition: 0.5s ease;
   
}
/* .bottom-footer span a {
    color: #cccccc;
} */

.bottom-footer p {
    color: #cccccc;
}

.bottom-footer span  :hover{
    color: #17D5FF;
    
    transition: 0.2s ease;
}


.bottom-footer span a {
    color: #cccccc;
    font-size: x-small;
}